SVCodingCase/SVCodingCase.xcodeproj/project.xcworkspace/xcuserdata/wojciech.charysz.xcuserdatad/UserInterfaceState.xcuserstate
SVCodingCase/SVCodingCase.xcodeproj/xcuserdata/wojciech.charysz.xcuserdatad/xcschemes/xcschememanagement.plist
*.xcuserstate
*.xcbkptlist
